    style(type='text/css').
      body {
      margin:0;
      padding:0;
      }
      table {
      border-collapse: collapse;
      border-spacing: 0;
      }
      td {padding: 0;}
      p {
      font-size: 16px;
      }
      img {
      border: 0;
      line-height: 0;
      }
      a {
      text-decoration: none;
      font-size: 16px;
      }
      .content {
      line-height: 20px;
      font-size: 16px;
      }
      .ExternalClass {
      width: 100%;
      }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass td, .ExternalClass font, .ExternalClass td {
      width: 100%;
      line-height: 100%;
      }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: inherit !important;
      }
      tr.border-btm{
      border-bottom: 1px solid rgb(206, 206, 206);
      }
      .padding {
      padding-right: 15px;
      padding-left: 15px;
      }
      .btn-padding {
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 0;
      padding-bottom: 0;
      }
      @media screen and (max-width: 599.98px) {
      .inner {
      padding: 20px;
      border: 1px solid rgb(240 238 238);
      Margin: 0 auto;
      width: 90%;
      background-color: #ffffff;
      }
      img {
      max-width: 600px !important;
      padding: 0;
      Margin:0;
      }
      }
      @media screen and (max-width: 399.98px) {
      img {
      padding: 0;
      Margin:0;
      }
      }